#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h> // Bluetooth
#include <dt-bindings/zmk/ext_power.h> // External power

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
				// ------------------------------------------------------------------------------------------
				// |  GRESC  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  |   BKSP
				// | TAB  |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |   |
				// | CAPS  |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |     ENTER
				// |  SHIFT    |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  | /   |      SHIFT
				// |  CTL  |  WIN  |  ALT  |            SPACE               | ALT | 1    |  MENU    |  CTRL
				// ------------------------------------------------------------------------------------------
			bindings = <

				&gresc &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp  N8   &kp  N9 &kp  N0  &kp MINUS &kp EQUAL &kp BSPC
				&kp TAB  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp  I    &kp  O  &kp  P   &kp LBKT &kp RBKT   &kp BSLH
				&mo 1  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp  K    &kp  L  &kp SEMI &kp SQT            &kp RET
				&kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH                   &kp RSHFT
				&kp LCTRL &kp LGUI &kp LALT            &kp SPACE                          &kp HOME  &mo 1 &kp END    &kp RCTRL
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};
		raise {
				// ------------------------------------------------------------------------------------------
				// |  GRAVE   |  F1 	|  F2  |  F3  |  F4  |  F5  |  F6  |  F7  |  F8  | F9  |  F10  | F11 | F12 | RESET
				// |  	-     | -  		|   UP   |  -  |  -  |  -  |  -  |  -  |  UP  |  INS  |  PSCRN  |  SLCK  |  PAUSE_BREAK  | RGB_TOG  |
				// |    -  	  |  LEFT   |  DOWN  |  RIGHT  |  BT_SEL 0  |  BT_SEL 1  |  -  |  LEFT |  DOWN  |  RIGHT |  -  |  PG_UP  |     &bootloader
				// |  C_PREV  |  C_VOL_DN |  C_VOL_UP  |  C_MUTE  |  OUT_TOG  |  OUT_USB  |  -  |  -  |  -  |  -  | PG_DN   |   -
				// |  BT_PRV  |  BT_NXT  |  -  |            -               | C_PREVIOUS | -    |  C_NEXT    |  BT_CLR
				// ------------------------------------------------------------------------------------------
				
			bindings = <
				&kp GRAVE &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12 &reset
				&trans &trans  &kp UP &trans &trans &trans &trans &trans &kp UP &kp INS &kp PSCRN &kp SLCK &kp PAUSE_BREAK &rgb_ug RGB_TOG
				&trans  &kp LEFT &kp DOWN &kp RIGHT &bt BT_SEL 0 &bt BT_SEL 1 &trans &kp LEFT &kp DOWN &kp RIGHT &trans  &kp PG_UP   &bootloader
				&kp C_PREV &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE &out OUT_TOG &out OUT_USB  &trans &trans &trans &trans &kp PG_DN  &trans
				&bt BT_PRV &bt BT_NXT  &trans              &trans                            &kp C_PREVIOUS &trans &kp C_NEXT &bt BT_CLR
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};
	};
};
